main{
    max-width: 1000px;
    margin: 0 auto;
}
.load, .graph.load, .company-info.load{
    opacity: 1;
}
.graph{
    opacity: 0;
    transition: opacity 2s ease-in;
}
.chart-js{
    padding-right: 7px;
    margin: 10px 0;
}
.graph-buttons{
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
}
.time-button{
    color: rgb(32, 43, 201);
    font-family: inherit;
    border: none;
    background-color: rgba(255, 0, 0, 0);
    text-decoration: none;
}
.graph-buttons button:hover{
    cursor: pointer;
}
.graph-select{
    color: black;
    background-color: rgb(190, 21, 21);
    outline: none;
    border-radius: 50px;
}
